<% include partials/header %>

<h1>Welcome to OMDB, Search For a movie.</h1>

<form action="/results" method="GET">
   <input type="text" placeholder="movie name" name="search">
   <button>Search</button>
</form>

<% include partials/footer %>